<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter</title>
</head>
<body>
<h1>Ajouter Employe</h1>
<form action="#" th:action="@{/save}" th:object="${employe}" method="post">
    <fieldset>
        <legend>Ajouter Employe</legend>
        <table>
            <tr>
                <td><label for="nom">Nom:</label></td>
                <td><input type="text" id="nom" th:field="*{nom}" required></td>
            </tr>
            <tr>
                <td><label for="prenom">Prenom:</label></td>
                <td><input type="text" id="prenom" th:field="*{prenom}" required></td>
            </tr>
            <tr>
                <td><label for="fonction">Fonction:</label></td>
                <td><input type="text" id="fonction" th:field="*{fonction}" required></td>
            </tr>
            <tr style="text-align: center">
                <td>
                    <button type="submit">Ajouter</button>
                </td>
                <td>
                    <button type="reset">Annuler</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<a href="/">Retour a la page d'accueil</a>
</body>
</html>